#============ init ==============
allow init self:capability sys_module;
allow init self:rawip_socket getopt;
allow init self:rawip_socket create;
allow logd unlabeled:file read;
allow logd unlabeled:dir search;
allow logd unlabeled:file open;
allow logd unlabeled:file getattr;
#allow healthd self:capability2 0x10;
allow kernel self:capability mknod;
allow shell unlabeled:file read;
allow shell unlabeled:dir search;
